@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans&family=Open+Sans&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*Header*/
.hero {
height: 100vh;
background-color:rgb(255, 255, 255);
}

.hero__header {
display: flex;
justify-content: space-around;
padding-top: 2rem;
padding-inline: 35rem;
}

.hero__header .logo {
font-family: 'Noto Sans', sans-serif;
font-size: 3rem;
color: green;
}

.span{
color: orange;
}

.header__right {
display: flex;
flex-direction: column;
align-items:center
}


.header__right h2 {
font-family: 'Cedarville Cursive', cursive;
font-size: 3rem;
}

.header__right p {
font-family: 'Open Sans', sans-serif;
display: flex;
font-size: 1.5rem;
}

/*Main*/

.hero__main {
display: flex;
flex-direction: column;
align-items: center;
}

.hero__main h3 {
margin-top: 0.3rem;
padding-inline: 27rem;
background-color: green;
color: white;
font-size: 50px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    justify-items: center;
    width: 500px;
    gap: 5px;
    margin-top: 5px;
    padding-left: 450px;
}

.card{
    flex: 50%;
    border: 5px solid orange;
    border-radius: 5px;
display: flex;
justify-content: center;
}

.content{
display: flex;
flex-direction: column;
}

.content__title{
    display: flex;
    justify-content: center;
font-size: 20px;
}

.content__img{
margin: 5px 5px 5px 5px;
}

.content__p{
display: flex;
justify-content: start;
font-size: 15px;
}

.content__p1{
    display: flex;
    justify-content: end;
    margin: 5px 5px 5px 5px;
    font-size: 18px;
}

.right{
    text-align: center;
}

.img{
    width:  900px;
    height: 600px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.footer p{
padding-inline: 30rem;
background-color: green;
color: white;
font-size: 50px;
text-align: center;
margin: 15px 15px 15px 15px;
}







/*responsive*/

@media (max-width: 768px) {
    /*header*/

    .hero__header {
        justify-content: space-around;
        padding-top: 2rem;
        padding-inline: 20rem;
        }
        
    .hero__header .logo {
        font-size: 3rem;
        color: green;
        }
        
    .span{
        color: orange;
        }
        
    .header__right {
        display: flex;
        flex-direction: column;
        align-items:center
        }
        
        
    .header__right h2 {
        font-size: 3rem;
        }
        
    .header__right p {
        display: flex;
        font-size: 1.5rem;
        }

    /*main*/
    .cards{
        width: 150px;
        padding-left: 10px;
    }
}

